<!-- Include header.ejs -->
<%- include('statics/header') -%>

<main>
    <section>
        <%- include('components/form-login') -%>
    </section>
</main>

<!-- Include footer.ejs -->
<%- include('statics/footer') -%> 