        <footer style="position: fixed; margin-left: 10%;">
            <p>Under <a href="https://en.wikipedia.org/wiki/WFPL" target="_blank">WFPL</a> - &copy; 2021 Alex Lys </p>
        </footer>
    </body>
    
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="../main.js"></script>
</html>  